<%- include('partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/posts.css">

        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4"><i class="fas fa-campground"></i> Wanderer</h1>
                <p class="lead">May your adventures bring you closer together, even as they take you far away from home.</p>
                <p class="author">~Trenton Lee Stewart</p>
                <hr class="my-4">
                <p>A travel blog where you can showcase your wildest memories from around the world ranging from frigtening mountain trails to streamlined bungee jumping.</p>
                <a class="btn btn-dark bg-custom" href="/posts/new">
                    New
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% posts.forEach(function(post){ %>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-group text-white bg-custom-card mb-3" style="width: 18rem;">
                        <img src=" <%= post.image %> " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= post.name %></h5>
                          <p class="card-text">
                            <a href="/posts/<%= post._id %>" class="btn btn-sm btn-dark">More Info</a>
                          </p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <br>

    <div class="section2" id="contact">
        <br>    
        <div class="container">
            <h2 class="contact">Contact</h2>
            <p>G V Ganesh Maurya - gvgmaurya@gmail.com</p>
            <a href="https://www.facebook.com/ganesh.maurya.353250/" class="social-list">
                <i class="fab fa-facebook-square"> </i>
            </a>
            <a href="https://www.instagram.com/maurya_2308/" class="social-list">
                <i class="fab fa-instagram"> </i>
            </a>
            <a href="https://www.linkedin.com/in/g-v-ganesh-maurya-7a8a101a6/" class="social-list">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/GaneshMaurya" class="social-list">
                <i class="fab fa-github"> </i>
            </a>
        </div>
        <br>
      </div>

<%- include('partials/footer') -%>