<%- include('partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

    <div class="container">
        <div class="box">
            <h1><%=post.name%></h1>
            <br>
            <img src="<%= post.image %>">
            <br>
            <br>
            <p><%= post.description %></p>   
            <br>
            <div class="navigators">
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-dark">Delete</button>
                </form>
                <a href="/posts/<%= post._id %>/edit">
                    <button type="button" class="btn btn-dark">Edit</button>
                </a>
                <a href="/posts">
                    <button type="button" class="btn btn-dark">Go back</button>
                </a> 
            </div>
        </div> 
    </div>

<%- include('partials/footer') -%>