<%- include('partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

    <div class="container">
        <div class="box">
            <h1><%=post.name%></h1>
            <br>
            <img src="<%= post.image %>">
            <br>
            <br>
            <p><%= post.description %></p>    
        </div> 
    </div>

<%- include('partials/footer') -%>